<% if user_signed_in? %>
<div class="navbar-wagon">
  <div class="navbar-wagon-map">
    <%= link_to events_index_path, class: "navbar-wagon-item" do %>
    <i class="far fa-map"></i>
    <% end %>
  </div>
  <div class="navbar-wagon-upload">
    <%= link_to videos_new_path, class: "navbar-wagon-item" do %>
    <i class="far fa-stop-circle"></i>
    <% end %>
  </div>
  <div class="navbar-wagon-profile">

    <div class="dropup">
      <button class="fas fa-user" type="button" data-toggle="dropdown" style="color: white; height: 30px;">
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <% if user_signed_in? %>
          <li><%= link_to('Dashboard', videos_show_path) %></li>
          <li><%= link_to('Add Event', events_new_path) %></li>
          <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
          <% else %>
           <li><%= link_to('Dashboard', videos_show_path) %></li>
           <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>










